<ul class="list-unstyled">
  <% photoposts.each do |photopost| %>
    <li class="media mb-3">
      <img class="mr-2 rounded" src="<%= photopost.user.icon.thumb.url if photopost.user.icon? %>">
      <div class="media-body">
        <div>
          <%= link_to photopost.user.name, user_path(photopost.user) %> <span class="text-muted">posted at <%= photopost.created_at %></span>
        </div>
        <%= link_to image_tag(photopost.image? ? photopost.image.thumbnail.url : nil), photopost_path(photopost.id) %>
      </div>
    </li>
  <% end %>
</ul>
<%= paginate photoposts %>