<div class="media mb-3">
  <img class="mr-2 rounded" src="<%= @photopost.user.icon.thumb.url if @photopost.user.icon? %>">
  <div class="media-body">
    <div>
      <%= link_to @photopost.user.name, user_path(@photopost.user) %> <span class="text-muted">posted at <%= @photopost.created_at %></span>
    </div>
    <%= image_tag @photopost.image.url if @photopost.image? %>
  </div>
</div>
<div class="row">
  <div class="col-md-9">
    <%= @photopost.title %>
  </div>
  <div class="col-md-2">
    <p>okiniiri</p>
  </div>
  <div class="col-md-1">
    <% if current_user == @photopost.user %>
      <%= link_to "削除", @photopost, method: :delete, data: { confirm: "削除してよろしいですか?" }, class: 'btn btn-danger btn-sm' %>
    <% end %>
  </div>
</div>